*{
    padding : 0;
    margin : 0;
}
    body {
    background : linear-gradient(
        to right ,
        blue 50%,
        white 50%,
    );
    display : flex;
    justify-content : center;
    align-items: center;
}
